<h1>Hello {{name}}!</h1>
<p><b>Email:</b> {{email}}</p>
<p><b>Address:</b> {{address.street}} {{address.city}}, {{address.state}}</p>
<button (click)="toggltHobbies()">{{showHobbies? "Hide Hobbies":"Show Hobbies"}}</button>
<div *ngIf="showHobbies">
  <h4>Hobbies</h4>
  <ul>
     <li *ngFor="let hobby of hobbies; let i = index">
        {{hobby}} <button (click)="deleteHobby(i)">X</button>
    </li>
</ul>
<form (submit)="addHobby(hobby.value)">
 <p>
    <label><b>Add Hobby: </b></label>
    <input type="text" #hobby />
</p>
</form>
</div>
<hr/>
<h3>Edit User</h3>
<form>
  <p>
     <label><b>Name: </b></label>
     <input type="text" name="name" [(ngModel)]="name" />
 </p>
 <p>
     <label><b>Email: </b></label>
     <input type="text" name="email" [(ngModel)]="email" />
 </p>
 <p>
     <label><b>Street: </b></label>
     <input type="text" name="address.street" [(ngModel)]="address.street" />
 </p>
 <p>
     <label><b>City: </b></label>
     <input type="text" name="address.city" [(ngModel)]="address.city" />
 </p>
 <p>
     <label><b>State: </b></label>
     <input type="text" name="address.state" [(ngModel)]="address.state" />
 </p>
</form>
<hr />
<h3>Posts</h3>
<div *ngFor="let post of posts">
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
</div>